.root{
    -fx-background-color: #231f26;
}

/*------------------------- CONTAINERS ------------------------------*/

#menuFrame{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 0 0 3 0; /* top right bottom left*/
}

#centerBox{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 0 3 0 0;
}

#loggedInStatusFrame{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 3 0 0 0;
}

#nonAdminPassWd, #adminPassWd, #editUSer, #tableAnchorPane {
    -fx-border-color: #9d9d9e;
    -fx-border-width: 3 0 0 0;
}

/*-------------------------- LABELS ------------------------------*/

.label {
   -fx-text-fill: white;
   /*-fx-font-size: 18px;*/
}

#exceptionLabel{
    -fx-text-fill: red;
}

/*-------------------------- TEXT FIELDS ------------------------------*/

.text-field {
    -fx-background-color: #346189;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-text-fill: white;
    -fx-border-color: grey;
    }

/*--------------------------  BUTTON ----------------------------- */

.button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    /*-fx-border-color:white;*/
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
    /*-fx-pref-height: 20px;
    -fx-pref-width: 90px;*/
}

.button:hover {
-fx-background-color: #656262;
-fx-border-width: 0 0 0 0;
}

.button:pressed {
-fx-background-color: #346189;
}

.button:disabled{
  -fx-background-color: #444444;
  -fx-color: #666666;
}
#btnAddUser, #btnSubmitA, #adminButton, #btnEdit,
#btnSubmitNonAdminPassword, #btnCancelNonAdminPasswordEdit, #btnCancelEditUser, #btnViewAdminPassword,
#btnViewNonAdminPassword{
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
}

/*-------------------------Checkbox------------------------------------------*/
#checkboxAdmin{
    -fx-text-fill: white;
}


/*---------------------------Gadget dynamicFrames--------------------*/

/*
#231f26 BLACK like root
#346189 BLUE like textfields
#444444 GRAY like buttons
##656262 like button hover
#346189 like button pressed
*/

#gridLowerBorder {
    -fx-border-color: #9d9d9e; /* Top right bottom left*/
    -fx-border-width: 3 0 0 0;
}

#btnEditGadget, #btnAddGadget, #btnDelete, #btnSubmit {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
}

#btnEditGadget, #btnAddGadget, #btnDelete, #btnSubmit:hover{
    -fx-background-color: #656262;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
}

.choice-box{
-fx-background-color: #346189;
-fx-mark-color: #231f26;
}

/* Background color of the whole context menu */
.choice-box .context-menu {
-fx-background-color: #346189;
}

/* Focused item background color in the list */
.choice-box .menu-item:focused {
-fx-background-color: #231f26;
}

/* Text color of non-focused items in the list */
.choice-box .menu-item > .label {
 -fx-text-fill: WHITE;
 }

/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label {
-fx-text-fill: WHITE;
}


/*--------------------------Energy dynamicframe -------------------------------*/

.progress-indicator .indicator {
-fx-background-color: #444444;
}

.progress-indicator .tick {
-fx-background-color: null;
}

progress-indicator .text {
-fx-text-fill: null;
}

.progress-indicator .progress {
-fx-background-color: #346189;
}


/*--------------------------Settings dynamicframe--------------------------*/
.text-area .content{
-fx-background-color: #444444;
}


.text-area{
-fx-text-fill: WHITE;
-fx-font-size: 13;
-fx-focus-color: transparent;
-fx-background-radius: 0.0;
-fx-border-style: null;
-fx-border-radius: 0.0;
-fx-border-insets: 0.0;
-fx-border-color: #9d9d9e;
-fx-highlight-fill: #1e97d2;
-fx-background-insets: 0.0;
}


.text-area:focus {
-fx-text-fill: WHITE;
-fx-font-size: 13;
-fx-focus-color: transparent;
-fx-background-radius: 0.0;
-fx-border-style: null;
-fx-border-radius: 0.0;
-fx-border-insets: 0.0;
-fx-border-color: #9d9d9e;
-fx-highlight-fill: #1e97d2;
-fx-background-insets: 0.0;
}