.root{
    -fx-background-color: #231f26;
}

/*------------------------- CONTAINERS ------------------------------*/

#menuFrame{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 0 0 3 0; /* top right bottom left*/
}

#centerBox{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 0 3 0 0;
}

#loggedInStatusFrame{
   -fx-border-color: #9d9d9e;
   -fx-border-width: 3 0 0 0;
}

#nonAdminPassWd, #adminPassWd, #editUSer, #tableAnchorPane {
    -fx-border-color: #9d9d9e;
    -fx-border-width: 3 0 0 0;




}



/*-------------------------- LABELS ------------------------------*/

.label {
   -fx-text-fill: white;
   /*-fx-font-size: 18px;*/
}

#exceptionLabel{
    -fx-text-fill: red;
}

/*-------------------------- TEXT FIELDS ------------------------------*/

.text-field {
    -fx-background-color: #346189;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-text-fill: white;
    -fx-border-color: grey;
    }

/*--------------------------  BUTTON ----------------------------- */

.button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    /*-fx-border-color:white;*/
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
    /*-fx-pref-height: 20px;
    -fx-pref-width: 90px;*/
}

.button:hover {
-fx-background-color: #656262;
-fx-border-width: 0 0 0 0;
}

.button:pressed {
-fx-background-color: #346189;
}

.button:disabled{
  -fx-background-color: #444444;
  -fx-color: #666666;
}
#addUserButton, #deleteUserButton, #submitButton, #nonAdminButton, #adminButton, #editBtn{
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-border-width: 0 0 0 0;
}

/*-------------------------Checkbox------------------------------------------*/
#checkboxAdmin{
    -fx-text-fill: white;
}

/*------------------------- DynamicFrame Rooms ------------------------------*/

/*
#tblViewRooms .table-column{
    -fx-alignment: CENTER;
}

#tblViewRooms {
    -fx-text-fill: WHITE;
    -fx-background-color: #231f26;
    -fx-table-cell-border-color: transparent;
    -fx-table-column-border-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 1,2;
}

#tblViewRooms .column-header-background{
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-background-insets: 0 0 0 0, 0, 1,2;
}

#tblViewRooms .table-row{
visibility:hidden;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 1,2;
}

#tblViewRooms .table-row-cell{
    -fx-background-color: #231f26;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 1,2;
}

#tblViewRooms .table-row-cell:selected{
    -fx-background-color: #231f26;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: WHITE;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 1,2;
}

#tblViewRooms.scroll-bar:vertical .thumb{
    -fx-background-color: #231f26;
}

#tblViewRooms *.scroll-bar:horizontal *.increment-arrow,
#tblViewRooms *.scroll-bar:horizontal *.decrement-arrow,
#tblViewRooms *.scroll-bar:horizontal *.increment-button,
#tblViewRooms *.scroll-bar:horizontal *.decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#tblViewRooms *.scroll-bar:vertical *.increment-arrow,
#tblViewRooms *.scroll-bar:vertical *.decrement-arrow,
#tblViewRooms *.scroll-bar:vertical *.increment-button,
#tblViewRooms *.scroll-bar:vertical *.decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
*/

