/*------------------------- DynamicFrame Rooms ------------------------------*/
.table-view .table-column{
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.table-view {
    -fx-text-fill: WHITE;
    -fx-background-color: #231f26;
    -fx-table-cell-border-color: transparent;
    -fx-table-column-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view:pressed .table-view{
    -fx-text-fill: WHITE;
    -fx-background-color: #231f26;
    -fx-table-cell-border-color: transparent;
    -fx-table-column-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view .column-header-background{
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-pref-height: 6;
    -fx-background-insets: 0;
}

.table-view .table-row:selected{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-row:pressed .table-row{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-row-cell{
    -fx-background-color: #231f26;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-row-cell:selected .table-cell{
    -fx-background-color: #231f26;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-row-cell:pressed .table-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-row-cell:focused .table-cell{
    -fx-background-color: #231f26;
    -fx-border-color: transparent;
    -fx-text-fill: WHITE;
    -fx-table-cell-border-color: transparent;
        -fx-background-insets: 0;
}

#tblViewRooms .scroll-bar:horizontal .increment-arrow,
#tblViewRooms .scroll-bar:horizontal .decrement-arrow,
#tblViewRooms .scroll-bar:horizontal .increment-button,
#tblViewRooms .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0;
}

#tblViewRooms .scroll-bar:vertical .increment-arrow,
#tblViewRooms .scroll-bar:vertical .decrement-arrow,
#tblViewRooms .scroll-bar:vertical .increment-button,
#tblViewRooms .scroll-bar:vertical .decrement-button{
    -fx-padding:0
}

#tblViewDynamicGadgets .scroll-bar:horizontal .increment-arrow,
#tblViewDynamicGadgets .scroll-bar:horizontal .decrement-arrow,
#tblViewDynamicGadgets .scroll-bar:horizontal .increment-button,
#tblViewDynamicGadgets .scroll-bar:horizontal .decrement-button{
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}